@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/*General Settings */

body {
  background-color: #fff;
  color: #3f3f3f;
  font: 14px / 28px Arial;
  font-family: 'Raleway';
  overflow-y: auto;
}

h1 {
  font-size: 62px;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

h3 {
  font-size: 16px;
  color: #500d16;
  transition: all 0.5s ease;
  text-transform: uppercase;
}

.sectionHeader {
  background: #550d16;
  border-bottom: 6px solid #000;
  height: 60px;
  color: #fff;
  display: inline-block;
  line-height: 60px;
  font-size: 24px;
  padding: 5px 40px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.sectionArea {
  padding: 80px 0;
}

/*Grid Settings */

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
}
.featuresBody .container,
.engineBody .container {
  justify-content: space-between;
}

.col3 {
  flex-grow: 1;
  width: 33.33%;
}

.col2 {
  flex-grow: 1;
  width: 50%;
  padding: 20px;
}
/*HOME Settings */
header .logo {
  margin-right: auto;
}

header .logo img {
  display: block;
  height: 70px;
}

.menu li {
  float: left;
}
.menu li:hover a {
  background: #500d16;
  color: #fff;
}

.menu li a {
  padding: 27px 17px;
  text-decoration: none;
  display: block;
  letter-spacing: 2px;
  color: #333;
  transition: all 0.5s ease;
}

#mainSlider {
  height: 92vh;
  background: url('../images/mainHome.jpg') center center no-repeat;
  background-size: cover;
}

.slider {
  width: 100%;
}

#mainCaption {
  height: 92vh;
  background: rgba(0, 0, 0, 0.4);
}

.caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.featuresTop {
  text-align: center;
}
.item {
  padding: 10px 20px;
}
.zoom {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.zoom img {
  display: block;
  width: 100%;
  height: auto;
  transition: all 0.5s ease;
}
.item .itemText {
  text-align: center;
  padding: 5px;
  border: 1px solid #500d16;
}

.item:hover .zoom img {
  transform: scale(1.25);
}

.item:hover h3 {
  color: white;
}

.item:hover .itemText {
  background: #500d16;
  color: white;
  transition: all 0.5s ease;
}

.btnDetails {
  color: #500d16;
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid #500d16;
  transition: all 0.5s ease;
}

.item:hover .btnDetails {
  color: #fff;
  border: 1px solid white;
}

.itemText p {
  margin: 20px 0;
}

#parallax {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url('../images/paralax.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

#parallax p {
  color: #fff;
  font-size: 20px;
}

.engineTop {
  text-align: center;
}

.engineContainer {
  position: relative;
  width: 100%;
}

.imageOver {
  display: block;
  width: 100%;
  height: auto;
}

.engineOverlay {
  position: absolute;

  left: 0;

  background-color: rgba(80, 13, 22, 0.7);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.8s ease;
}

.engineContainer:hover .engineOverlay {
  width: 100%;
}

.engineText {
  white-space: nowrap;
  color: #fff;
  font-size: 2opx;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.engineOverlay2 {
  position: absolute;
  right: 0;
  /* bottom: 0; */
  background-color: rgba(80, 13, 22, 0.7);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.8s ease;
}

.engineContainer:hover .engineOverlay2 {
  width: 100%;
}

footer {
  background-color: #500d16;
  text-align: center;
}

.footerItem {
  padding: 20px;
}

.footerItem img {
  height: 90px;
  width: 70px;
  opacity: 0.5;
}

footer h3 {
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

footer .fa {
  font-size: 30px;
  color: #95a5a6;
  line-height: 50px;
  transition: 0.3s ease;
}
footer .fa:hover {
  color: #fff;
}

footer p {
  color: #95a5a6;
  line-height: 20px;
}

.footerLinks a {
  text-decoration: none;
  color: #95a5a6;
  letter-spacing: 2px;
  transition: 0.3s ease;
}
.footerLinks li {
  margin: 10px auto;
}
.footerLinks a:hover {
  color: #fff;
  text-decoration: underline;
}

.socialLinks li {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 15px;
}

/* CARS PAGE */

#carsSlider {
  height: 500px;
  background: url('../images/carsMain.jpg') center center no-repeat;
  background-size: cover;
}

#carsCaption {
  height: 500px;
  background: rgba(0, 0, 0, 0.6);
}

#inspect {
  background-color: rgb(247, 243, 239);
}
.inspectTop {
  text-align: center;
}

.inspectBody .col2 {
  display: flex;
}

.inspectImage {
  width: 40%;
}

.inspectImage img {
  width: 100%;
  height: auto;
}

.inspextText {
  width: 60%;
  margin-left: 20px;
}

.date {
  color: #333;
  font-size: 12px;
  font-style: italic;
}

h4 {
  color: #c7abaf;
  font-size: 14;
  font-weight: bold;
}

.inspextText a {
  text-decoration: none;
  float: right;
  color: #500d16;
}

.inspextText a:hover {
  text-decoration: underline;
}

.projectXTop {
  text-align: center;
}

.projectXBody {
  background-image: url('../images/projectxx.jpg');
}

#projectX .containerFluid {
  height: 500px;
  background: url('../images/projectxx.jpg') center center no-repeat;
  background-size: cover;
}

.captionPX {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  height: 500px;
  width: 100%;
}

.projectXInfo {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -40%);
  width: 70%;
}

.projectCTitle {
  font-size: 24px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.projectXBTN {
  background-color: #500d16;
  color: #fff;
  padding: 20px 40px;
  border-style: none;
  margin-top: 20px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.projectXBTN:hover {
  background-color: #fff;
  color: #500d16;
}

.projectXText {
  color: #fff;
}
.projectXBody {
  position: relative;
}
.projectXHighlight {
  position: absolute;
  background-color: #500d16;
  opacity: 0.5;
  width: 10%;
  height: 120px;
  display: block;
  right: 450px;
  top: 35%;
  border-radius: 30px;
  padding: 10px;
}
.projectXHighlight:hover {
  opacity: 1;
  cursor: pointer;
}

.projectXHighlight li {
  color: #fff;
  text-align: center;
}

/* about settings */

#aboutSlider {
  height: 500px;
  background: url('../images/aboutSlider.jpg') center center no-repeat;
  background-size: cover;
}

#aboutCaption {
  height: 500px;
  background: rgba(0, 0, 0, 0.6);
}

#ourHistory {
  background-color: #f5f5f5;
}

.ourHistoryTop {
  text-align: center;
}

.ourHistoryBody .containerFluid {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.ourHistoryBody .col2 {
  display: flex;
}

.ourHistoryDate {
  flex: 1;
  background-color: #500d16;
  color: #fff;
  text-align: center;
}

.ourHistoryDate p {
  font-size: 30px;
  letter-spacing: 2px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ourHistoryImage {
  flex: 2;
}

.ourHistoryImage img {
  height: 100%;
  width: 100%;
}

.ourHistoryText {
  flex: 3;
  margin-left: 10px;
}

.ourHistoryText p {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.TeamTop {
  text-align: center;
}

.teamBody .containerFluid {
  display: flex;
  width: 100%;
}

.teamMember {
  position: relative;
  width: 100%;
}
.teamMemberImg {
  display: block;
  width: 100%;
  height: 100%;
}

.teamMemberOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  background-color: #500d16;
  transition: 0.5s ease;
  cursor: pointer;
}

.teamMember:hover .teamMemberOverlay {
  opacity: 0;
}

.teamMember:hover .teamMemberInfo {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.teamTitle {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.teamMemberInfo {
  color: #fff;
  background-color: rgba(80, 13, 22, 0.5);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s ease;
  padding: 20px;
  text-align: center;
}

.MemberSocialLinks {
  text-align: center;
}

.MemberSocialLinks li {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}

.MemberSocialLinks .fa {
  color: white;
}
